In [1]:
# Data Pre-processing Lab Assignment

# **----- Import all libraries here -----**

import pandas as pd
import numpy as np

# Import the dataset into a data frame -----------------------------------
dataset = pd.read_csv('diabetes.csv')

In [2]:
# Code to pre-process the dataset goes here --------------------------------
# Remove duplicates if any
dataset.head()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1
1,2,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0
2,3,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1
3,4,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,5,-1.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1

In [3]:
dataset.shape

(770, 10)

In [4]:
columns = dataset.columns.to_list()
columns

['Patient_ID',
 'Pregncies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [5]:
columns.pop(0)
columns

['Pregncies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [6]:
# keeps the first occurrence of each set of duplicates and removes any subsequent occurrences
# based on all columns except 'Patient_ID' column
dataset = dataset.drop_duplicates(subset=columns)

In [7]:
dataset.shape

(768, 10)

In [8]:
dataset.describe().round(2)

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.00,766.00,766.00,764.00,764.00,765.00,766.00,765.00,764.00,768.00
mean,384.50,3.83,120.47,67.67,20.51,79.93,32.00,0.47,33.24,0.35
std,221.85,3.39,33.16,43.26,15.98,115.38,7.89,0.33,11.78,0.48
min,1.00,-6.00,-129.00,-1000.00,0.00,0.00,0.00,0.08,21.00,0.00
25%,192.75,1.00,99.00,62.00,0.00,0.00,27.30,0.24,24.00,0.00
50%,384.50,3.00,117.00,72.00,23.00,32.00,32.00,0.37,29.00,0.00
75%,576.25,6.00,140.00,80.00,32.00,127.00,36.60,0.63,41.00,1.00
max,768.00,17.00,199.00,122.00,99.00,846.00,67.10,2.42,81.00,1.00

In [9]:
# Fill missing values (if any) without deleting any record
# Fill missing values with the median value of each column
dataset = dataset.fillna(dataset.median())

In [10]:
dataset.describe().round(2)

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00
mean,384.50,3.83,120.46,67.69,20.52,79.74,32.00,0.47,33.22,0.35
std,221.85,3.39,33.11,43.15,15.94,115.19,7.88,0.33,11.76,0.48
min,1.00,-6.00,-129.00,-1000.00,0.00,0.00,0.00,0.08,21.00,0.00
25%,192.75,1.00,99.00,62.00,0.00,0.00,27.30,0.24,24.00,0.00
50%,384.50,3.00,117.00,72.00,23.00,32.00,32.00,0.37,29.00,0.00
75%,576.25,6.00,140.00,80.00,32.00,126.25,36.60,0.62,41.00,1.00
max,768.00,17.00,199.00,122.00,99.00,846.00,67.10,2.42,81.00,1.00

In [11]:
median = dataset[columns].median()
median

Pregncies                     3.000
Glucose                     117.000
BloodPressure                72.000
SkinThickness                23.000
Insulin                      32.000
BMI                          32.000
DiabetesPedigreeFunction      0.371
Age                          29.000
Outcome                       0.000
dtype: float64

In [12]:
# Resolve out-of-range values if any
preg_median = median[0]
dataset.loc[dataset['Pregncies'] < 0, 'Pregncies'] = preg_median
dataset.loc[dataset['Pregncies'] > 15, 'Pregncies'] = preg_median

In [13]:
dataset['Pregncies']

0       6.0
1       1.0
2       8.0
3       1.0
4       3.0
       ...
763    10.0
764     2.0
765     5.0
766     1.0
767     1.0
Name: Pregncies, Length: 768, dtype: float64

In [14]:
glucose_median = median[1]
dataset.loc[dataset['Glucose'] <= 0, 'Glucose'] = glucose_median

In [15]:
blood_pres_median = median[2]
dataset.loc[dataset['BloodPressure'] <= 0, 'BloodPressure'] = blood_pres_median
dataset.loc[dataset['BloodPressure'] >= 120, 'BloodPressure'] = blood_pres_median

In [16]:
skin_thick_median = median[3]
dataset.loc[dataset['SkinThickness'] <= 0, 'SkinThickness'] = skin_thick_median
dataset.loc[dataset['SkinThickness'] >= 40, 'SkinThickness'] = skin_thick_median

In [17]:
insulin_median = median[4]
dataset.loc[dataset['Insulin'] <= 30, 'Insulin'] = insulin_median
dataset.loc[dataset['Insulin'] >= 400, 'Insulin'] = insulin_median

In [18]:
BMI_median = median[5]
dataset.loc[dataset['BMI'] <= 18, 'BMI'] = BMI_median
dataset.loc[dataset['BMI'] >= 40, 'BMI'] = BMI_median

In [19]:
ped_fun_median = median[6]
dataset.loc[dataset['DiabetesPedigreeFunction'] <= 0, 'DiabetesPedigreeFunction'] = ped_fun_median
dataset.loc[dataset['DiabetesPedigreeFunction'] >= 2.99, 'DiabetesPedigreeFunction'] = ped_fun_median

In [20]:
dataset['DiabetesPedigreeFunction'] = dataset['DiabetesPedigreeFunction'].round(3)

In [21]:
dataset['DiabetesPedigreeFunction']

0      0.627
1      0.351
2      0.672
3      0.167
4      2.288
       ...
763    0.171
764    0.340
765    0.245
766    0.349
767    0.315
Name: DiabetesPedigreeFunction, Length: 768, dtype: float64

In [22]:
cols_to_round = [col for col in columns if col not in ['DiabetesPedigreeFunction', 'Outcome']]
dataset[cols_to_round] = dataset[cols_to_round].apply(lambda x: round(x, 2))

In [23]:
dataset

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6.0,148.0,72.0,35.0,32.0,33.6,0.627,50.0,1
1,2,1.0,85.0,66.0,29.0,32.0,26.6,0.351,31.0,0
2,3,8.0,183.0,64.0,23.0,32.0,23.3,0.672,32.0,1
3,4,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,5,3.0,137.0,40.0,35.0,168.0,32.0,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...,...
763,764,10.0,101.0,76.0,23.0,180.0,32.9,0.171,63.0,0
764,765,2.0,122.0,70.0,27.0,32.0,36.8,0.340,27.0,0
765,766,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
766,767,1.0,126.0,60.0,23.0,32.0,30.1,0.349,47.0,1
767,768,1.0,93.0,70.0,31.0,32.0,30.4,0.315,23.0,0

In [24]:
# Write the pre-processed dataset into a csv file --------------------------------
pre_processed_dataset = dataset

student_id = "200458M.csv"

pre_processed_dataset.to_csv(student_id, index=False)